<h3>Welcome to the Cookbook!</h3>
<h4>What do you want to do?</h4>
<ul>
  <li> <a href="/all"> List all recipes</a></li>
  <li>Create a new recipe</li>
  <li>Destroy a recipe</li>
  <li>Import recipes from LetsCookFrench</li>
  <li>Mark a recipe as tested</li>
</ul>
